*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: small;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.client-data{
  margin-bottom: 10px;
}

#list td:last-child{
  display: none;
}

#total th{
  text-align: right;
}

th{
  background-color: #eee;
}

th, td{
  border: 1px solid #ddd;
}


input[type=text] {
    border: none;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}
